set -x PATH /usr/local/sbin /usr/local/bin $PATH

set -x BAT_PAGER "less -RF"

{{- if (output "uname" "-a" | contains "synology") -}}

set -x PATH /volume1/bin $PATH
set -x VISUAL /volume1/bin/edit

{{ else }}

set -x VISUAL /usr/local/bin/edit

{{- end -}}
